body {
  font-family: arial;
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
}

a {
  color: #9E8368;
  text-decoration: none;
  font-weight: 600;
}

.Hero {
  background-color: #6E6C6D;
  height: 920px;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
}

.MainHead {
 margin: 0;
 color: #FCFBF7;
 font-size: 60px;
 line-height: 1.2;
 border: 5px solid #FCFBF7;
 padding: 5px;
 opacity: 0;
 animation: HeroAnimation;
 animation-duration: 3s;
 animation-delay: 0.1s;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
  color: rgba(252,	251,	247, 0.8);
  font-size: 30px;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: #FCFBF7;
  text-transform: uppercase;
  background: rgba(15,	12,	10, 0.7);
  padding: 9px 20px;
  border: 1px solid rgba(252,	251,	247, 0.25);
  border-radius: 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
  background: #9E8368;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
  transition: 1s
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
